:root {
    --branco: #FFFFFF;
    --azul-fonte: #2A7AE4;
    --azul-fundo: #EAF2FD;
    --cinza:#464646;
    --cinza-claro: #F5F5F5;
    --cinza-borda:#c8c8c8;
    --branco-fundo: #E5E5E5;
    --preto: #464646;
    --cinza-fonte: #A2A2A2;

    --raleway: 'Raleway', sans-serif;

}

